<div class="container">
  <div class="cont1">
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">IMAGE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of products">
        <td>{{pr.id}}</td>
        <td>{{pr.name}}</td>
        <td><img [src]="pr.imageUrl" width="100px" height="100px"/></td>
        <td>{{pr.quantity}}</td>
        <td><span class="material-icons" (click)="deleteProduct(pr)">delete</span></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="cont2">
    <img src="../../assets/images/carticon.png" width="250px" height="200px"/>
    <p class="total">Total Price: {{total}}</p>
    <div class="innerdiv">
    <button class="btn btn-primary btn-lg" [disabled]="!products.length" (click)="goPayment()">CHECKOUT</button>
    <button class="btn btn-warning btn-lg" (click)="goBack()">CONTINUE SHOPPING</button>
    </div>
  </div>

  </div>

