<div class="container">
  <div class="cont1">
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">IMAGE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of products, let i=index">
        <td>{{pr.id}}</td>
        <td>{{pr.name}}</td>
        <td><img [src]="pr.imageUrl" width="100px" height="100px"/></td>
        <td>
          <input type="number" class="form-control" min=0 value="1" [(ngModel)]="qty[i]" (input)="calculate()" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Quantity">
          </td>
        <td><span class="material-icons" (click)="deleteProduct(pr, i)">delete</span></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="cont2">
    <img src="../../assets/images/carticon.png" width="250px" height="200px"/>
    <p class="total">Total Price: {{total}}</p>
    <div class="innerdiv">
    <button class="btn btn-primary btn-lg" id="checkout" [disabled]="!products.length" (click)="goPayment()">CHECKOUT</button>
    <button class="btn btn-warning btn-lg" id="back" (click)="goBack()">CONTINUE SHOPPING</button>
    </div>
  </div>

  </div>

