.innercont{
    width: 250px;
    
    margin:20px;
    padding: 10px;
    background-color: #e3f2fd;
    border: 5px #0020C2 solid;

    box-shadow: 5px 10px blue;
}
.cont{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}