.container{
    display: flex;
    margin: 20px;
    padding: 20px;
}
.tbl{
    width: 500px;
    
}
card{
    margin: 25px;
    padding: 25px;
}

.cartbutton{
    text-align: center;
    margin-top: 10px;
}
.back{
    text-align: center;
    margin-top:20px;
}