<div class="parentcontainer">
  <div class="container1">

    <table class="table table-hover table-bordered tbl1">
      <thead style="height: 30px;">
        <tr >
          <th scope="col">Filter By Category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td (click)="showVegetable()">Vegies</td>
          
        </tr>
        <tr>
          <td (click)="showFruit()">Fruits</td>
        </tr>
        <tr>
          <td (click)="showGrocery()">Grocery</td>
        </tr>

        <tr>
          <td (click)="showDevice()">Electronic Device</td>
        </tr>

        <tr>
          <td (click)="showJeans()">Jeans</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-hover table-bordered tbl1">
      <thead style="height: 30px;">
        <tr >
          <th scope="col">Filter By Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td (click)="show1()">Below 1000</td>
          
        </tr>
        <tr>
          <td (click)="show2()">1000-5000</td>
        </tr>
        <tr>
          <td (click)="show3()">5001-10000</td>
        </tr>

        <tr>
          <td (click)="show4()">10001-50000</td>
        </tr>

        <tr>
          <td (click)="show5()">Above 50000</td>
        </tr>
      </tbody>
    </table>
  </div>



<div class="container2">
<div class="card text-center cont2">
  <div class="card-header">{{pageTitle}}</div>
<div class="card-body" class="cont">

        <mat-card class="example-card" *ngFor="let pr of filteredProducts; let i=index" class="innercont"> 
            <mat-card-header>
            
                <mat-card-title>{{pr.name}}</mat-card-title>
                <mat-card-subtitle>{{pr.category}}</mat-card-subtitle>
              
              
            </mat-card-header>

            <img mat-card-xl-image [src]="pr.imageUrl" (mouseover)="applyAnimation(i)" [@change]="isHover[i] ? 'end' : 'start'" style="width: 200px; height: 150px; margin:0px;">
            <mat-card-content>
              {{pr.description}}
            </mat-card-content>

            <mat-card-actions *ngIf="showIcon">
              <button mat-raised-button color="primary" (click)="productSelected(pr)" style="margin:8px;"><span class="material-icons"> edit</span>EDIT</button>
              <button mat-raised-button color="warn" (click)="deleteProduct(pr)" style="margin: 8px;"><i class="material-icons">delete</i>DELETE</button>
            </mat-card-actions>
            <mat-card-actions>
              <button class="btn btn-success" [routerLink]="['/products',pr.id]">View Details</button>
            </mat-card-actions>
          </mat-card>


        </div>
      </div>
<div style="text-align: center; margin-top: 10px;" *ngIf="showIcon">
<button mat-raised-button color="primary" (click)="newProduct()">ADD NEW PRODUCT</button>
</div>

</div>
</div>
<router-outlet></router-outlet>