/*Designing the Product Add Component*/
.container{
    width: 70%;
    margin:auto;
    padding: 40px;
    background-color: pink;
    border:none;
    border-radius: 25px;
}
mat-form-field{
    width: 90%;
}