

    <nav class="header_top">
        <div class="header_menu">
            <div class="header_menu_icon">
                <mat-icon>menu</mat-icon>
            </div>
            <p class="header_menu_logo" style="font-size: 20px;">InstaSmart</p>

            <div class="header_menu_searchbar">
                <input type="text" class="header_menu_input">
                <div class="header_menu_searchbar_icon">
                  <mat-icon>search</mat-icon>

                </div>
            </div>

            <div class="header_menu_signin">
                <span class="header_menu_top_item">
                    Hello, Sign In
                </span>
                <span class="header_menu_bottom_item">
                    Accounts and Lists
                </span>

            </div>
            <div class="header_menu_signin">
                <span class="header_menu_top_item">
                    Returns 
                </span>
                <span class="header_menu_bottom_item">
                    & Orders
                </span>

            </div>
            <div class="bigspace"></div>

            <div class="header_menu_cart">
                <button type="button" class="btn btn-secondary btn-sm" routerLink="/cart" style="height: 30px;">View Cart</button>
            </div>
        </div>
            
          
    </nav>
