

    <nav class="header_top">
        <div class="header_menu">
            <div class="header_menu_icon">
                <mat-icon>menu</mat-icon>
            </div>
            <p class="header_menu_logo" style="font-size: 20px;">InstaSmart</p>

            <div class="header_menu_searchbar">
                
            </div>

            <div class="header_menu_signin" id="header1">
                <span class="header_menu_top_item">
                    Hello, Sign In
                </span>
                <span class="header_menu_bottom_item">
                    Accounts and Lists
                </span>

            </div>
            <div class="header_menu_signin" id="header2">
                <span class="header_menu_top_item">
                    Returns 
                </span>
                <span class="header_menu_bottom_item">
                    & Orders
                </span>

            </div>
            <div class="bigspace"></div>

            <div class="header_menu_cart">
                <button type="button" class="btn btn-sm header_menu_bottom_item" routerLink="/cart" style="width:80px; height: 30px; background-color: black; color: blanchedalmond; margin-top: 5px;">View Cart</button>
            </div>
        </div>
            
          
    </nav>
